aniso8601==10.0.0
blinker==1.9.0
chardet==5.2.0
checksumdir==1.2.0
click==8.1.8
Flask==3.1.0
flask-cors==5.0.1
Flask-Mail==0.10.0
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
pillow==11.1.0
pytz==2025.2
reportlab==4.3.1
setuptools==77.0.3
six==1.17.0
SQLAlchemy==2.0.38
typing_extensions==4.12.2
Werkzeug==3.1.3
